body{
	margin:1%;
}

h1{
	margin-top: 6%;
    text-align: center;
    color: #842029;
}
h2{
	color: #fff;
    background-color: #8eb03b;
    height: 50px;
    font-weight: 100;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 5px;
}
div{
	display:inline-block;
	width:23%;
}
h6{
	text-align:center;
}
h6 a{
	text-decoration:none;
	font-weight:700;
}
img{
	width:105%;
}

section{
	margin:2%;
}
a{
	color:#000;
}
a:hover{
	color:pink;
}
#Ch{
	width: 100%;
}
#Ch img{
	width:90%;
}
video{
	display: block;
    margin: 2% auto;
    width: 80%;
	
}